services:
  backend-service:
    build: .
    container_name: job-backend
    ports:
      - "8000:8000"
      - "8001:8001"  
    restart: always
    env_file:
      - .env
    environment:
      USER_DATABASE_URL: postgres://postgres:password@postgres:5432/users
      JOB_DATABASE_URL: postgres://postgres:password@postgres:5432/jobs
      PAYMENT_DATABASE_URL: postgres://postgres:password@postgres:5432/payments
      NOTIFICATION_DATABASE_URL: postgres://postgres:password@notification-postgres:5432/notifications
      LOG_MONGODB_URL: mongodb://mongodb:27017/logs
      REDIS_HOST: redis
      NOTIFICATION_SERVICE_URL: notification-service:8004
    depends_on:
      - postgres
      - mongodb
      - redis
      - notification-postgres
      - notification-service
      
    command: >
             sh -c "npx prisma db push --accept-data-loss --schema=./prisma/user/user.schema.prisma &&
             npx nest start auth-service &
             npx nest start job-platform-backend"

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: users
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./mongo-keyfile:/data/mongo-keyfile:ro
    entrypoint:
      - bash
      - -c
      - |
        cp /data/mongo-keyfile /tmp/mongo-keyfile
        chmod 400 /tmp/mongo-keyfile
        chown mongodb:mongodb /tmp/mongo-keyfile
        exec docker-entrypoint.sh mongod --replSet rs0 --bind_ip_all --keyFile /tmp/mongo-keyfile

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  notification-postgres:
    image: postgres:15-alpine
    container_name: notification-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: notifications
    ports:
      - "5435:5432"
    volumes:
      - notification-postgres-data:/var/lib/postgresql/data

  notification-service:
    build: .
    container_name: notification-service
    ports:
      - "8004:8004"
    restart: always
    env_file:
      - .env
    environment:
      NOTIFICATION_DATABASE_URL: postgres://postgres:password@notification-postgres:5432/notifications
      REDIS_HOST: redis
    depends_on:
      - notification-postgres
      - redis
    command: >
             sh -c "npx prisma db push --accept-data-loss --schema=./prisma/notification/notification.schema.prisma &&
             npx nest start notification-service"

volumes:
  postgres-data:
  mongo-data:
  notification-postgres-data:
