services:
  backend-service:
    build: .
    container_name: job-backend
    ports:
      - "8000:8000"
      - "8001:8001"  
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
      - mongodb
      - redis
      
    command: >
             sh -c "npx prisma db push --schema=./prisma/user/user.schema.prisma && 
             npx nest start auth-service & 
             npx nest start job-platform-backend"

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: users
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./mongo-keyfile:/data/mongo-keyfile:ro
    entrypoint:
      - bash
      - -c
      - |
        cp /data/mongo-keyfile /tmp/mongo-keyfile
        chmod 400 /tmp/mongo-keyfile
        chown mongodb:mongodb /tmp/mongo-keyfile
        exec docker-entrypoint.sh mongod --replSet rs0 --bind_ip_all --keyFile /tmp/mongo-keyfile

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres-data:
  mongo-data:
